<!-- IF S_POST_EXPIRE -->
	<dl id="postexpire" title="{L_POST_EXPIRE_EXPLAIN}">
		<dt><label for="post_expire">{L_POST_EXPIRE}{L_COLON}</label></dt>
		<dd><select name="post_expire" tabindex="3">
			<!-- IF post_expire eq 0 -->
			<option value="0" selected>{L_POST_EXPIRE_NOT}</option>
			<!-- ELSE -->
			<option value="0">{L_POST_EXPIRE_NOT}</option>
			<!-- ENDIF -->
			<!-- IF post_expire eq 1 -->
			<option value="1" selected>1 {L_POST_EXPIRE_DAY}</option>
			<!-- ELSE -->
			<option value="1">1 {L_POST_EXPIRE_DAY}</option>
			<!-- ENDIF -->
			<!-- IF post_expire eq 2 -->
			<option value="2" selected>2 {L_POST_EXPIRE_DAYS}</option>
			<!-- ELSE -->
			<option value="2">2 {L_POST_EXPIRE_DAYS}</option>
			<!-- ENDIF -->
			<!-- IF post_expire eq 3 -->
			<option value="3" selected>3 {L_POST_EXPIRE_DAYS}</option>
			<!-- ELSE -->
			<option value="3">3 {L_POST_EXPIRE_DAYS}</option>
			<!-- ENDIF -->
			<!-- IF post_expire eq 4 -->
			<option value="4" selected>4 {L_POST_EXPIRE_DAYS}</option>
			<!-- ELSE -->
			<option value="4">4 {L_POST_EXPIRE_DAYS}</option>
			<!-- ENDIF -->
			<!-- IF post_expire eq 5 -->
			<option value="5" selected>5 {L_POST_EXPIRE_DAYS}</option>
			<!-- ELSE -->
			<option value="5">5 {L_POST_EXPIRE_DAYS}</option>
			<!-- ENDIF -->
			<!-- IF post_expire eq 6 -->
			<option value="6" selected>6 {L_POST_EXPIRE_DAYS}</option>
			<!-- ELSE -->
			<option value="6">6 {L_POST_EXPIRE_DAYS}</option>
			<!-- ENDIF -->
			<!-- IF post_expire eq 7 -->
			<option value="7" selected>7 {L_POST_EXPIRE_DAYS}</option>
			<!-- ELSE -->
			<option value="7">7 {L_POST_EXPIRE_DAYS}</option>
			<!-- ENDIF -->
			<!-- IF post_expire eq 10 -->
			<option value="10" selected>10 {L_POST_EXPIRE_DAYS}</option>
			<!-- ELSE -->
			<option value="10">10 {L_POST_EXPIRE_DAYS}</option>
			<!-- ENDIF -->
			<!-- IF post_expire eq 14 -->
			<option value="14" selected>14 {L_POST_EXPIRE_DAYS}</option>
			<!-- ELSE -->
			<option value="14">14 {L_POST_EXPIRE_DAYS}</option>
			<!-- ENDIF -->
		</select></dd>
	</dl>
<!-- ENDIF -->